:root{
  --vp-c-brand:#8b5cf6;
  --vp-button-brand-border:#7c3aed;
  --vp-button-brand-active-bg:#6d28d9;
  --vp-button-brand-active-border:#6d28d9;
  --vp-button-brand-hover-border:#6d28d9;
  --vp-button-brand-hover-bg:#6d28d9;

}
.vp-doc ul, .vp-doc ol{
  padding-left:0;
  margin:0 0;
}
